In [1]:
import numpy as np
import pandas as pd

In [2]:
def mnk(x_,y_):
    n = len(x_)
    a = (n * np.dot(x_, y_) - np.sum(x_) * np.sum(y_)) / (n * np.sum(x_ ** 2) - np.sum(x_) ** 2)
    b = (np.sum(y_) - a * np.sum(x_)) / n
    return a,b

In [3]:
x_ = np.linspace(1, 10, 10)
y_ = np.linspace(1, 10, 10)

n = len(x_)
a = (n * np.dot(x_, y_) - np.sum(x_) * np.sum(y_)) / (n * np.sum(x_ ** 2) - np.sum(x_) ** 2)
b = (np.sum(y_) - a * np.sum(x_)) / n
b

0.0

In [4]:
df = pd.DataFrame({'name': ['Petr', 'Anna', 'a'] , 'city': ['Moscow' , 'Novosibirsk', 'N'], 'age': np.array([41.0, 28.0, 0])})

In [5]:
df.dropna().drop_duplicates(inplace=True)
df[df['age'] == 0] = df['age'][df['age'] != 0].mean()
print(df['age'].mean() == 34.5)

True

In [10]:
Cars = pd.read_csv('Electric_Car.csv')

In [20]:
Carsgroupby = Cars.groupby('Brand')['PriceEuro'].mean().reset_index()
Carsgroupby

          Brand      PriceEuro
0       Aiways    36057.000000
1         Audi    80593.666667
2          BMW    53145.750000
3        Byton    59833.333333
4        CUPRA    45000.000000
5      Citroen    40000.000000
6           DS    37422.000000
7         Fiat    36400.000000
8         Ford    54568.750000
9        Honda    34459.000000
10     Hyundai    36408.333333
11      Jaguar    75351.000000
12         Kia    35862.400000
13       Lexus    50000.000000
14   Lightyear   149000.000000
15       Lucid   105000.000000
16          MG    30000.000000
17       Mazda    32646.000000
18    Mercedes    61705.000000
19        Mini    31681.000000
20      Nissan    45902.125000
21        Opel    35350.666667
22     Peugeot    32021.500000
23    Polestar    56440.000000
24     Porsche   138265.800000
25     Renault    31268.200000
26        SEAT    20129.000000
27       Skoda    38255.666667
28       Smart    22660.666667
29        Sono    25500.000000
30       Tesla    80272.307692
31  Volkswagen    34602.375000
32       Volvo    60437.000000

In [14]:
Cars_speed = Cars.loc[(Cars['PriceEuro'] > 50000) & (Cars['TopSpeed_KmH'] > 200)]
Cars_speed.set_axis([i for i in range(Cars_speed.shape[0])], axis='index')

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Segment,Seats,PriceEuro
0,Tesla,Model 3 Long Range Dual Motor,4.6,233,450,161,940,Yes,AWD,Type 2 CCS,Sedan,D,5,55480
1,Polestar,2,4.7,210,400,181,620,Yes,AWD,Type 2 CCS,Liftback,D,5,56440
2,Lucid,Air,2.8,250,610,180,620,Yes,AWD,Type 2 CCS,Sedan,F,5,105000
3,Porsche,Taycan Turbo S,2.8,260,375,223,780,Yes,AWD,Type 2 CCS,Sedan,F,4,180781
4,Tesla,Model Y Long Range Dual Motor,5.1,217,425,171,930,Yes,AWD,Type 2 CCS,SUV,D,7,58620
5,Audi,e-tron GT,3.5,240,425,197,850,Yes,AWD,Type 2 CCS,Sedan,F,4,125000
6,Tesla,Model 3 Long Range Performance,3.4,261,435,167,910,Yes,AWD,Type 2 CCS,Sedan,D,5,61480
7,Tesla,Cybertruck Tri Motor,3.0,210,750,267,710,Yes,AWD,Type 2 CCS,Pickup,N,6,75000
8,Tesla,Model S Long Range,3.8,250,515,184,560,Yes,AWD,Type 2,Liftback,F,5,79990
9,Porsche,Taycan 4S,4.0,250,365,195,730,Yes,AWD,Type 2 CCS,Sedan,F,4,102945
10,Tesla,Roadster,2.1,410,970,206,920,Yes,AWD,Type 2 CCS,Cabrio,S,4,215000
11,Tesla,Model X Long Range,4.6,250,450,211,490,Yes,AWD,Type 2,SUV,F,7,85990
12,Tesla,Model S Performance,2.5,261,505,188,550,Yes,AWD,Type 2,Liftback,F,5,96990
13,Tesla,Model Y Long Range Performance,3.7,241,410,177,900,Yes,AWD,Type 2 CCS,SUV,D,7,65620
14,Porsche,Taycan 4S Plus,4.0,250,425,197,890,Yes,AWD,Type 2 CCS,Sedan,F,4,109302
15,Porsche,Taycan Cross Turismo,3.5,250,385,217,770,Yes,AWD,Type 2 CCS,Station,F,4,150000
16,Porsche,Taycan Turbo,3.2,260,390,215,810,Yes,AWD,Type 2 CCS,Sedan,F,4,148301
17,Tesla,Model X Performance,2.8,250,440,216,480,Yes,AWD,Type 2,SUV,F,7,102990
18,Audi,e-tron S 55 quattro,4.5,210,320,270,510,Yes,AWD,Type 2 CCS,SUV,E,5,93800
19,Audi,e-tron S Sportback 55 quattro,4.5,210,335,258,540,Yes,AWD,Type 2 CCS,SUV,E,5,96050

In [15]:
EC = pd.read_csv('EC.csv', sep=',')
EVP = pd.read_csv('EVP.csv', sep=',')

In [18]:
integral = pd.merge(EC, EVP, on='Brand')
describe_pd = integral.describe()
describe_pd

,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,Seats,PriceEuro,ZIP Code,Model Year,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN